.right{
    width: 100%;
    max-width: 1258.4px;
    border: 1px solid black;
    float: left;
}

.right-parent{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.right-parent .title{
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: 22px;
    color: #c30005;
}
.add-news{
    width: 100%;
    border: 2px solid #A0A0A0;
    border-radius: 5px;
    margin-top: 20px;
}
.add-news-detail{
    width: 100%;
    display: flex;
    padding: 20px;
}
.add-news .news_images{
    width: 50%;
    padding: 20px 20px;
    border-right: 1px solid #C0C0C0;
}
.add-news .news_images input[type="file"]{
    width: 350px;
    height: 40px;
    line-height: 40px;
    border: none;
}
.add-news .news_images input[type="file"]::-webkit-file-upload-button{
    height: 35px;
    width: 150px; 
    border:2px solid #777;
}
.add-news .news_images select {
    width: 300px;
    height: 40px;
    outline-style: none;
    border: 2px solid #777;
    border-radius: 5px;
}
.add-news .news_description{
    width: 50%;
    padding: 20px 20px;
}
.add-news .news_description input{
    width: 100%;
    height: 40px;
    border: 2px solid #777;
    box-sizing: border-box;
    height: 40px;
    outline-style: none;
    border-radius: 5px;
    margin-top: 5px;
}
.add-news .btn-add-news {
    width: 200px;
    height: 40px;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
}
.add-news .btn-add-news button{
    width: 200px;
    height: 40px;
    background-color: #ee4d2d;
    color: #fff;
    border: none;
    cursor: pointer;
    font-size: 17px;
}
.add-news .btn-add-news button:hover{
    background: #c30005;
}